doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Prototype Seed
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description' content='')

    // Place favicon.ico and apple-touch-icons in the public folder

    link(rel='stylesheet' href='assets/styles/main.css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    link(href='assets/styles/animstion.css' rel='stylesheet')
    link(href='http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css' rel='stylesheet')
    script(src='//code.jquery.com/jquery-2.1.1.min.js')
    script(src='assets/scripts/vendor.js')
    script(src='assets/scripts/fluidbox.js')
    script(src='assets/scripts/imgLiquid-min.js.js')
    script(src='assets/scripts/jquery.animsition.js')
    script(src='assets/scripts/scrollReveal.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.5.1/jquery.nicescroll.js')    

  body
    block content    
    
    block scripts
      script(src='assets/scripts/main.js')
