
@import 'base/settings';

// Utilities
// ---------------------------------------------
@import 'utilities/normalize';
//@import 'modules/animsition.css'
//@import 'utilities/grid';


// Base
// ---------------------------------------------
//@import 'base/colors';
//@import 'base/typography';
//@import 'base/base';
//@import 'base/states';
//@import 'base/helpers';


// Modules
// ---------------------------------------------


@font-face {
	font-family: 'fontleroybrownregular';
	src: url('/assets/fonts/happyfont-webfont-webfont.eot');
	src: url('/assets/fonts/happyfont-webfont-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/happyfont-webfont-webfont.woff') format('woff'),
	url('/assets/fonts/happyfont-webfont-webfont.ttf') format('truetype'),
	url('/assets/fonts/happyfont-webfont-webfont.svg#fontleroybrownregular') format('svg');
	font-weight: normal;
	font-style: normal;
}




// Shame
@import 'shame';

$beige :     	#f6e9e0;
$turquoise : 	#78b3a0;
$brown :     	#54403F;
$white :     	#ffffff;


* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
a:link {
    color: #54403F;
}
html,body {
	height: 100%;
}

body {
	background: $beige url(/assets/images/green_dust_scratch.png);
    color: $brown;
    line-height: 1.5;
}

.container {
	display: flex;
    flex-direction: row;
	min-height: 100%;   
	max-width: 1704px;
	margin: auto;    
    
}

.menu {
	width: 200px;	
	background: $turquoise;	
	min-width: 288px;
	z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
	padding-bottom: 40px;
    position: fixed;
}

.basket {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 210px 0;
}

.basket-counter {
    background: $brown;
    color: $beige;
    padding: 10px 70px;
}

.cart {
    align-self: center;
    cursor: pointer;
}

nav {	
//	padding: 0 20px;
    flex: 1;
}

nav ul {
    padding: 0;
}

nav li {
	list-style: none;
	line-height: 3em;
	& a {
		text-decoration: none;	
		font-size: 20px;
		
	}
}

nav a:before {
	content: attr(data-hover);
	position: absolute;
	color: $white;
	transition: .3s cubic-bezier(0, 0, .07, .97);
}

nav a:hover,
nav a:visited { 
	color: $brown;
}
		
nav	a:hover:before,
nav	a:focus:before {
	transform: scale(0.9);
	opacity: 0;	
}

.content {
	width: 200px;	
	background: $beige;
	flex: 4;
	border-right: 40px solid $turquoise;
    position: relative;
	overflow: hidden;
    text-align: center;
    margin-left: 288px;
}

video {
	 position: absolute;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
//     z-index: -1000;
     overflow: hidden;  
}


h1 {
	font-family: 'fontleroybrownregular';
	font-weight: 100;
	font-size: 14em;
	color: $brown;
	display: inline-block;
	margin: 0;
	z-index: 1;
	position: relative;
    margin-top: 40px;   
    transition: 1s cubic-bezier(.92, -0.08, .3, 1.25);
}

blockquote {
    position: absolute;
    bottom: 145px;
    left: 0;
    width: 100%;
    z-index: 1;
    font-family: 'fontleroybrownregular';
    color: $beige;
    font-size: 54px;
    margin: 0;
}

address {
    font-style: normal;
    margin-bottom: 20px;
}


.subcribe {
    background: $brown;
    text-align: center;
    color: $beige;
    margin: 20px 0;
    & p {
        margin: 10px 0;
    }
	
}


.social-icons { 	
    display: flex;	
    justify-content: space-between;
    transition: 1s linear;
    & a {
        color: $brown;
        transition: .7s cubic-bezier(0, .61, .2, 1.33);
        &:hover {
            color: $beige;
        }
    }
}


ul[data-liffect="zoomOut"] {
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    & li {
        list-style: none;
    }
}

ul[data-liffect="zoomOut"] li {
    opacity: 0;
    position: relative;
    -webkit-animation: zoomOut 600ms ease both;
    -webkit-animation-play-state: paused;
    -moz-animation: zoomOut 600ms ease both;
    -moz-animation-play-state: paused;
    -o-animation: zoomOut 600ms ease both;
    -o-animation-play-state: paused;
    animation: zoomOut 600ms ease both;
    animation-play-state: paused;   
}

ul[data-liffect="zoomOut"].play li {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

@-webkit-keyframes zoomOut {
    0% { opacity: 0; -webkit-transform: scale(.6); }
    100% { opacity: 1; -webkit-transform: scale(1); }
}

@-moz-keyframes zoomOut {
    0% { opacity: 0; -moz-transform: scale(.6); }
    100% { opacity: 1; -moz-transform: scale(1); }
}

@-o-keyframes zoomOut {
    0% { opacity: 0; -o-transform: scale(.6); }
    100% { opacity: 1; -o-transform: scale(1); }
}

@keyframes zoomOut {
    0% { opacity: 0; transform: scale(.6); }
    100% { opacity: 1; transform: scale(1); }
}






@media screen and (max-width: 1140px) {
    .container {       
        flex-direction: column;
    }  
  
    .menu, .content {
        width: 100%;
    }
    
    .menu {
        height: 50px;
    }
    
    nav {
        margin-top: 0;
    }
    
    nav ul {
        display: flex;
    }
    
    .content {
        border-right: none;
    }
    
    h1 {
        font-size: 11em;
        margin-top: 0;
    }
    
    .social-icons {
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        & a {
            margin-right: 20px;
        }
    }
    
    nav {
        position: absolute;
        top: 0;
        left: 20px;
    }
    
    nav ul {
        margin: 0;
    }
    
    nav li {
        margin-right: 20px;
    }
    
    .basket {
        margin: 0;
        align-self: flex-end;
        margin-top: 7px;        
    }
    
    .basket-counter {
        margin-left: 20px;
        padding: 5px 40px;
    }
    
    address, .subcribe {
        display: none;
    }
    
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 8em;
    }
}



