block form    
       #modal-9.modal(data-modal-effect='fadescale')
                  .modal-content
                    h2 Consectetur adipiscing elit
                    div
                        input(type='text', placeholder='Имя')
                    div
                        input(type='text', placeholder='Email')
   
                

      
