block form    
       #basket.modal(data-modal-effect='fadescale')
                  .modal-content
                    h2 В корзине
                    section.basket-list                                                   
                        dl                            
                            dt
                                img(src='/assets/images/item3.jpg', width='150')
                                dd описание и стоимость
                            div.block-add-remove
                                section.rule-basket-items
                                    span.fa.fa-minus.fa-2x                            
                                    span.fa.fa-plus.fa-2x     
                                    span.fa.fa-remove.fa-2x
                                section.basket-cash
                                    span 546
                                    span.fa.fa-rub
   
                    section.fa.fa-remove.fa-close.fa-3x.modal-close
                    section.block-more
                        button далее

      
